html,body{
  background-color: black;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
/* //form
.body{
  
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: fit-content;
  margin:auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  border-radius: 20px;
}
input{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}
button{
  border-radius: 5px;
  background-color: burlywood;
  color: black;
  border: 1px solid black;

}
button:active{
  scale: 0.95;
} */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: darkslategrey;
  /* margin: 5px; */
}
li{
  margin: 10px;
  color: antiquewhite;
}
